header{

    padding: 1.5rem 2rem;;
    text-align: center;
    color: black;
    box-shadow:  0 2px 6px rgba(0,0,0,0.1) ;
backdrop-filter: blur(5px);
 background: linear-gradient(90deg, #374151, #22d3ee);  
 box-shadow:0 6px 14px rgb(164, 70, 4) ;
 




}
header h1{
    font-family:"Oswald", sans-serif;;
    font-size: 44px;
    text-transform: capitalize;
    margin: 0;

}
body{
    /* background:linear-gradient(90deg, #3b82f6, #22c55e); */
    /* background: linear-gradient(90deg, #ec4899, #8b5cf6, #3b82f6);  */
    margin: 0;
    min-height: 100vh;
    /* background: linear-gradient(90deg, #d1d5db, #3b82f6); */
/* background: linear-gradient(90deg, #e5e7eb, #9333ea); */
/* background :linear-gradient(90deg, #f3f4f6, #ec4899); */
/*  */
/* background: linear-gradient(90deg, #f3f4f6, #ec4899); */
background: linear-gradient(90deg, #4b5563, #06b6d4);






}
header p{

  margin-top: 0.3rem;
  font-size: 0.95rem;
  color: greenyellow;

}
main {

 margin: 2.5rem auto;
  padding: 0 1.5rem;
   max-width: 1000px;
}
article{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgba(255, 255, 255, 0.1); 
  border-radius: 14px;
  padding: 1.8rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: black;
  font-size: 19px;
  

}
article :hover{
    transform:  translateY(-6px);
    box-shadow: 0 6px 14px rgba(2, 255, 141, 0.619);
}
article h2{
     font-family: "Playfair Display", serif;
     font-size: 30px;
     color: black;
}
.para{
    color: rgba(248, 163, 6, 0.95);
     font-family: "Oswald", sans-serif;
     margin-bottom: 0.8rem;
    
}
p{
     line-height: 1.6;
}
details summary{
    color: #19ff04;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    cursor: pointer;
     margin-top: 0.6rem;
  transition: color 0.2s ease;

}
details summary :hover{
    color: green;

}
details p {
  margin: 0.
}
footer{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: line-through;
}